.titulo-comentarios{
    color: rgb(242,147,1);
    text-align: center;
    padding-top: 50px;
}

.autor-comentarios{
font-style: italic;
}

.autores{
text-transform: capitalize;
}

.comentarios .card{
    overflow: hidden;
}
.cb1 {
    background-color: rgb(228, 179, 179);
}

.cb2 {
    background-color: rgb(225, 228, 179);
}

.cb3 {
    background-color: rgb(179, 228, 193);
}

.cb4 {
    background-color: rgb(227, 179, 228);
}

.cb5 {
    background-color: rgb(179, 215, 228);
}