.home{
    padding-bottom: 30px;
}


.carousel-item{
    height: 75vh;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img{
    height: 100%;
}

.eslogan p{
    font-size: 24px;
    font-style: italic;
    color: rgb(99,64,33);
}

.lema-compromiso{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px rgb(99,64,33);
}

@media screen and (max-width:768px){
    .eslogan p{
        font-size: 16px;
    }

    .lema-compromiso{
        font-size: 16px;
        color: rgb(99,64,33);
        font-weight: normal;
        -webkit-text-stroke: 0px;
    }

    .carousel-item{
        height: 50vh;
    }
}